/* Variables */
:root {
    /* Layout widths */
    --mobile: 375px;
    --desktop: 1440px;
    /* Colours */
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(212, 45%, 89%);
    --greyish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    /* Font */
    --font: 'Outfit', sans-serif;
    --regular-weight: 400;
    --bold-weight: 700;
}
html {
    background-color: var(--light-grey);
}
/* QR Component */
.component {
    width: 320px;
    height: 497px;
    margin: 0 auto;
    background-color: var(--white);
    box-shadow: 0 25px 25px rgba(0, 0, 0, .1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* QR Code Image */
img {
    width: 288px;
    margin-top: .9em;
    border-radius: 20px;
}